#anchorPane {
-fx-background-image: url("file:///Users/saitejsunkara/Desktop/OOD-Project/LinkedIn-Park-CSYE-6200-Project-Managment/src/main/resources/com/northeastern/csye6200/linkedinpark/linkedinparkcsye6200/assets/bck1.jpg");
-fx-background-repeat: stretch;
-fx-background-position: center center;
}

